/*PAGINA INICIAL CORES 
Azul topo-logo-botoes: #1e90ff
Azul pontos chave: #51a6f7
Cinza Logo - títulos: #a9a9a9
Rodapé cor: #464646
*/


*{
	margin:0; padding:0; box-sizing: border-box;
}

.space-div{
	width: 3%;
}

.titulos {
	margin-top: 100px;
}

.espaco-botao {
	width: 100%;
	margin-bottom: 150px;
	text-align: center;
}

img {
	max-width: 100%;
	display: block;
}

.footer-titulos {
	margin-bottom: 20px;
	text-align: center;
}

/*---PAGINA PRINCIPAL---*/
/*        HEADER        */
/*----------------------*/
header {
	position: relative;
	width: 100%;
	z-index: 9999;
}


/*-----------------------------*/
/* ELEMENTOS DO BANNER HEADER  */
/*-----------------------------*/
section.banner-header-topo{
	width: 100%;
	padding: 10px 50px;
	background-color: #1e90ff;
	display: grid;
	grid-template-columns: 70% 30%;
	column-gap: 5px;
	align-items: center;
	justify-content: space-between;
}

#phone-topo-mestre{
	display: flex;
	flex-direction: row wrap;
	align-items: center;
	justify-content: flex-start;
}

#phone-topo-mestre i{
	color: white;
}

#icones-sociais-topo {
	text-align: end	;
}

a.icones-banner-topo {
    color: rgb(241, 241, 241);
	background-size: 50px;
	padding: 0px 3px;
}

a.icones-banner-topo:hover {
    color: #a9a9a9;
}
/*-----------------------*/
/*      HEADER NAV       */
/*-----------------------*/

#nav {
	width: 100%;
	display: flex;
	flex-direction: row;
	padding: 10px 50px;
}

header #nav-mestre {
	display: flex;
	flex-flow: row wrap;
	width: 100%;
	height: 70px;
	align-items: center;
}

header #div-logo-esquerda {
	background-image: url(../imagens/logo-alpha.png);
	background-repeat: no-repeat;
	background-size: contain;
	height: 50px;
	width: 30%;
	background-position: left;
}

header #div-nav-menu-direita {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	height: 50px;
	width: 70%;
}

header #div-nav-menu-direita ul {
	display: flex;
	flex-direction: row;	
	align-items: center;
	justify-content: flex-end;
}

header #div-nav-menu-direita ul li {
	padding: 0px 10px;
	justify-content: flex-end;
	align-items: center;
}


/*-----------------------*/
/*     HEADER CHAMADA    */
/*-----------------------*/
#chamada{
	width: 100%;
	margin: 0 auto;
	height: 80vh;
	background-image: linear-gradient(rgba(0,0,0,2), rgba(0,0,0,0)), url(../imagens/Imagem-banner-pagina-inicial.jpg);
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
}

#chamada-mestre {
	height: 80vh;
	display: grid;
	grid-template-columns: 1fr 69px;
	align-items: center;
	max-width: 92%;
	margin: 0 auto;
}

#chamada-box-esquerda {
	max-width: 800px;
	margin-right: 50px;
}



/*-----------------------*/
/* SECTION APRESENTACAO  */
/*-----------------------*/

#apresentacao-pontos-chave-conteudo {
	max-width: 92%;
	margin: 0 auto;
}

#pontos-chave-mestre {
	display: grid;
	grid-template-columns: 1fr 1fr;
	column-gap: 5px;

}

#pontos-chave-esquerda {
	width: 100%;
	height: 100%;
	background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0)), url(../imagens/imagem-quem-somos-pagina-inicial.jpg);
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	display: flex;	
}

#pontos-chave-direita {
	width: 100%;
	background: linear-gradient(rgb(128, 211, 250) 0%, rgb(93, 172, 209) 50%, rgb(45, 147, 250) 100% );
	padding: 40px 40px;
}


/*----------------------*/
/* SECTION SEGUIMENTOS  */
/*-----------------------*/
#seguimentos-atendidos-conteudo {
	max-width: 92%;
	margin: 0 auto;
	
}

#seguimentos-mestre {
	width:100%;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	margin-bottom: 50px;
}

#seguimentos-esquerda {
	width: 5%;
	align-self: center;
}

#seguimentos-centro {
	max-width:100%;
	margin: 0 auto;
	display:flex;
	flex-flow: row wrap;
}

#seguimentos-centro ul {
	align-items: center;
	justify-content: space-between;
	padding: 20px;
}

#seguimentos-centro ul img {
	align-items: center;
	justify-content: center;
}


#seguimentos-direita {
	width: 5%;
	align-self: center;
}

#botao-seguimentos {
	margin-bottom: 50px;
}

/*-----------------------*/
/*  SECTION PARCEIROS    */
/*-----------------------*/

#parceiros-conteudo {
	max-width: 92%;
	margin: 0 auto;
	margin-bottom: 250px;
}

#parceiros-centro { 
	max-width: 90%;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 50px;
}

#parceiros-centro ul {
	width: 200px;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
}

.parceiros-img:hover {
	cursor: pointer;
}

#botao-parceiros {
	margin-bottom: 50px;
}


/*----------------------*/
/*   SECTION CULTURA    */
/*-----------------------*/
#cultura-conteudo {
	max-width: 92%;
	margin: 0 auto;
}


#cultura-mestre {
	display: grid;
	grid-template-columns: 1fr 3fr; 
	column-gap: 5px;
	padding: 0px 20px;
}

#cultura-lado-esquerdo {
	height: 70%;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
}

#cultura-lado-esquerdo img {	

	width: 60%;
	margin-bottom: 10px;
}

#cultura-lado-direito {
	width: 100%;
	padding: 0px 50px;
	display: grid;
	grid-template-columns: 2fr 150px
}

#cultura-lado-direito p {
	grid-template-rows: 2fr ;
}

#cultura-lado-direito .space-div {
	width: 50%
}


/*-----------------*/
/*      FOOTER     */
/*-----------------*/

footer { 
	position: relative;
	width: 100%;
	height: 70vh;
	padding: 40px 0px;
	background-color: #464646;
}

.div-master-footer { 
	width: 100%;
	display: flex;
	flex-direction: row ;
	flex-wrap: wrap;
	
	border: solid 1px;

}

#infomacoes-footer {
	width: 100%;
	height: 50vh;
	display: flex;
	flex-direction: row;
	justify-content: ;
}

#logo-alphatech {
	height: 50px;
	width: 16.6%;
	background-image: url(../imagens/logo-alpha.png);
	background-repeat: no-repeat;
	background-size: contain;
	background-position: left;
}

.footer-box-wrap {
	width: 20%;
	height: 190px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
}

.footer-conteudo {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

/*---END PG INIT---*/





