/*TIPOGRAFIA

font-family: 'Montserrat', sans-serif;
font-family: 'Open Sans', sans-serif;

CORES:
Cinza Logo - títulos: #a9a9a9
Azul topo-logo-botoes: #1e90ff

*/

*{
    font-size: 16px;
}

h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 200%;
    color: #a9a9a9;
}

h2 {
    font-family: 'Montserrat', sans-serif, cursive;
    text-align: center;
    font-size: 170%;
    font-weight: 500;
    color: #636363;
}

h3,h4 {
    font-family: 'Montserrat', sans-serif, cursive;
    font-size: 120%;
    color: #a9a9a9;
}

h5 {
    font-family: 'Montserrat', sans-serif, cursive;
    text-align: center;
    font-size: 110%;
    font-weight: 500;
    color: black;
}

h6 {
    font-family: 'Montserrat', sans-serif, cursive;
    text-align: center;
    font-size: 80%;
    font-weight: 400;
    color: white;
}


h2::after {
    display: block;
    background-color: #1e90ff;
    height: 1px;
    width: 200px;
    margin: 20px auto 80px;
    content: " ";
}

p,li,a {
    font-family: 'Open Sans', sans-serif;
    color: #a9a9a9;
    text-decoration: none;
}

a.link:hover {
    color: #1e90ff;
}

a.link-footer {
    text-align: left;
    color: #a9a9a9;
}

a.link-footer:hover {
    text-align: lef;
    color: #1e90ff;
}

p.destaque {
    font-size: 115%;
    line-height: 1.8;
}

.footer

.botoes {
    display: inline-block;
    font-size: 110%;
    color: white;
    text-decoration: none;
    font-weight:500;

    margin-top: 30px;
    padding: 10px 50px;
    border-radius: 5px;

    background: linear-gradient(rgba(153,228,237,1) 0%, rgba(103,203,248,1) 50%, rgba(30,144,255,1) 100% );
}

.botoes:hover {
    font-size: 110%;
    font-weight:500;
    margin-top: 30px;
    padding: 10px 50px;
    border-radius: 5px;
    color: white;
    text-decoration: none;
    background: linear-gradient(rgb(128, 211, 250) 0%, rgb(93, 172, 209) 50%, rgb(45, 147, 250) 100% );
    transition-duration: 2;
}


/*-----------------------------*/
/*         BANNER HEADER       */
/*-----------------------------*/

.h6-topo {
    padding: 0px 10px 0px 5px;
}



/*-----------------------*/
/*     HEADER NAV        */
/*-----------------------*/
#menu-principal li a  {
    list-style: none;
    display: block;
}


/*---------------------*/
/*    HEADER CHAMADA   */
/*---------------------*/

#chamada-box-esquerda h1 {
    color:white;
    font-weight: 400;
    font-size: 230%;
    text-transform: uppercase;
}

#chamada-box-esquerda h4 {
    color:white;
    padding: 20px 0px;
    font-weight: 500;
    font-size: 130%;
}


/*-----------------------*/
/* SECTION APRESENTACAO */
/*-----------------------*/
#pontos-chave-esquerda h4 {
    width: 100%;
    color: white;
    font-size: 180%;
    font-weight: 400;
    align-self: center;
    text-align: center;
}

#pontos-chave-direita p {
    color: white;
    text-align: justify;
}

.espaco-botao a {
    justify-content: center;
    align-content: center;
}
/*----------------------*/
/* SECTION SEGUIMENTOS  */
/*-----------------------*/

#seguimentos-centro ul, li {
    list-style: none;
    text-decoration: none;
    padding: 5px;
}


#seguimentos-esquerda i {
    font-size: 50px;
}

#seguimentos-direita i {
    font-size: 50px;
    float: right;
}


/*----------------------*/
/* SECTION PARCEIROS    */
/*-----------------------*/




/*----------------------*/
/*   SECTION CULTURA    */
/*-----------------------*/
#cultura-lado-esquerdo h5 {
    font-size: 130%;
    font-weight: 500;
    color: #636363;
}

#cultura-lado-esquerdo p {
    text-align: left;
    color:#636363;
}


#cultura-lado-direito p {
   padding-right: 20px;
   text-align: jus;
}

#botao-cultura {
    align-items: center;
    justify-content: flex-start;
    text-align: center;
    float: left;
}

/*-----------------*/
/*      FOOTER     */
/*---END PG INIT---*/


